# Ambientes virtuais e cache Python
__pycache__/
*.py[cod]
.venv/
venv/
env/
.ipynb_checkpoints/

# Arquivos de dados pesados (opcional: manter se for menor que 50MB)
 data/*.xlsx
# data/*.csv

# Relatórios temporários
*.log
